<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/educacion.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>Educacion</title>
</head>
<body>
    <div  class="container-below"><div class="container-butt">
                <a href="./habilidades" class="skills-main">Habilidades</a>
                <a href="./" class="home">Inicio</a>
            </div>
        <div id="i" class="schools-all">
            <div class="image-main">
                <img src="img/imagen-pres.PNG" alt="">
            </div>
            <h1 class="name-main"> LEIDER STIBEN GALINDO TOLEDO</h1>
            
            <div class="sub-edu">
            <h1 id="card-edu">Educacion</h1>
            <h2 id="name-info" class="name-info">Sena</h2>
            <p id="show-info" class="show-info">Análisis y desarrollo de sistemas de
                información (ADSI)</p>
            <hr id="hr">
            <h2 id="name-info-learn" class="name-info-learn">Learnerships - Camblish Training Institute</h2>
            <p class="show-info-date" id="show-info-date">2021-2022</p>
            <hr id="hr">
            <h2 id="name-info-school" class="name-info-school">Colegio Tecnico Republica De Guatemala</h2>
            <p id="show-info-level" class="show-info-level">Bachiller en Técnico en Programación de
                Software 2021.</p>
            </div>
        </div>
        <%-include ('templates/footer'); %>
</body>
</html>