<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
</head>
<body>

    <div class="container-main">
        <div class="skills">
            <h1>Habilidades</h1>
            <p>Diseño en programación web: HTML, CSS, PHP. </p>
            <p>Empleo de herramientas de Microsoft
                Office.</p>
            <p>Manejo de Bases de Datos (MySQL).</p>
        </div>
        <div class="aptitudes">
            <p>Proactividad.</p>
            <p>Trabajo en equipo.</p>
            <p>Comunicación efectiva..</p>
            <p>Flexibilidad para el aprendizaje.</p>
            <p>Responsabilidad.</p>
            <p>Capacidad de adaptación.</p>
            <p>Creatividad.</p>
            <p>Analítica y resolución de problemas.</p>
        </div>

</body>
</html>