<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>Curriculum Vitae</title>
</head>

<body>
    <section class="left">
        <div class="container-grey">
            <div class="image-main">
                <img src="../public/img/imagen-pres.PNG" alt="">
                
            </div><h1 class="name-main"> LEIDER STIBEN GALINDO TOLEDO</h1>
            <div class="about">
                <h2 id="card"><i class="fa-solid fa-chevron-down"></i>Acerca de mi</h2>

                <p id="description" class="description">Soy una persona proactiva, organizada
                    y responsable, con buenas relaciones
                    interpersonales.
                    Siempre tengo la mejor disposición para la
                    realización de mis labores. Mi enfoque en
                    lo laboral es obtener experiencia con
                    desafíos propios del cargo.</p>


                <h2 id="card-info"><i class="fa-solid fa-chevron-down"></i>Datos de Contanto</h2>
                <p id="hidden-info" class="hidden-info">Celular : 3153468690
                    Correo: leidergalindo2017@gmail.com
                    Dirección: Calle 49 A sur #34-94
                </p>
            </div>
        </div>
            <div class="references">
                <div class="personal-references">
                    <h1>REFERENCIAS PERSONALES</h1>

                    <h3>Carlos Andrés Soriano Mateus
                        Ingeniero En telecomunicaciones
                        Citibank Colombia
                        Cel : 30133924569</h3>

                    <h3>Heriberto Vargas
                        Empresario
                        Tovar Logística
                        Cel : 3132856208</h3>
                </div>
                <div class="family-references">
                    <h3>Jeimy Katerine Toledo Sabi
                        Docente
                        Secretaria Educación
                        Cel : 3133449777</h3>
                    <h3>Wendy Yolani Molina Sabi
                        Trabajadora Social
                        Asesora Comercial
                        Cel : 3213264877</h3>
                </div>
            </div>
        </div>
    </section>
    <script src="../public/js/index.js"></script>
</body>

</html>