*{
    font-family: 'Overpass', sans-serif;
    padding: 0%;
    margin: 0%;    
}

i{
    background-repeat: no-repeat;
}

.eicher {
    height: 3px;
}

.references {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.references-engi {
    padding: 6%;
    background-color: gainsboro;
}

.references-empresario {
    padding: 6%;
}

.name-main{
    color: #008eff;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding: 4px;
}

#card {
    padding: 6%;
    background-color: #008eff;
    border-radius: 12px;
    margin: 10px;
}

#card:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.description {
    display: none;
    padding: 28px;
    background-color: #ced4d9;
    border-radius: 4px;
}

#description:hover{
    transition: 1s;
}

.hidden-info {
    display: none;
    padding: 10px;
    background-color: #ced4d9;
    margin-top: -3%;
}

.desc{
    display: flex;
}


#card-info {
    padding: 6%;
    background-color: #008eff;
    border-radius: 12px;
    margin: 10px;
}

#card-info:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.personal-references {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* justify-content: unset; */
}

.references-h3{
    text-align: center;
    color: #008eff;
    padding: 3%;
}

h3 {
    text-align: center;
}
/***********-education-*/

#card-edu {
    padding: 6%;
    background-color: #008eff;
    border-radius: 12px;
    margin: 10px;
}

#card-edu:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.name-info {
    background-color: #ced4d9;
    width: 88%;
    padding: 4px;

    margin-left: 4%;
    margin-top: -3%;
}

hr {
    height: 7px;
    margin-left: 2%;
    width: 94%;
    background-color: black;
}
p.show-info {
    padding: 15px;
    background-color: #ced4d9;
    width: 80.9%;
    margin-left: 4%;
}

.name-info {
    background-color: #ced4d9;
    width: 88%;
    padding: 4px;
    margin-left: 4%;
    margin-top: -3%;
}

p.show-info-date {
    padding: 15px;
    background-color: #ced4d9;
    width: 80.9%;
    margin-left: 4%;
}

.eicher{
    height: 7px;
    margin-left: 2%;
    text-align: center;
    background-color: black;
}

.name-info-learn {
    background-color: #ced4d9;
    width: 88%;
    padding: 4px;
    margin-left: 4%;
}

.references-empresario {
    padding: 6%;
}

.references-social {
    padding: 6%;
}

.back-black {
    background-color: black;
    font-size: 1.12em;
    color: white;
    text-align: center;
    padding: 5%;
}
.family-references {
    padding: 6%;
    background-color: gainsboro;
}
p.show-info-level {
    padding: 15px;
    background-color: #ced4d9;
    width: 80.9%;
    margin-left: 4%;
}

.name-info-school {
    background-color: #ced4d9;
    width: 88%;
    padding: 4px;
    margin-left: 4%;
}

.schoools-all{
    display: none;
}

.image-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-refer{
    display: none;
}

.main-direccion {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    padding: 3%;
    margin-top: -3%;
}

a {
    color: black;
    text-decoration: none;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    font-size: 1.5em;
}

i.fa-solid.fa-arrow-right {
    font-size: 1.4em !important;
    display: flex !important;
    justify-content: end !important;
}

.language {
    background-color: #008eff;
    padding: 6%;
    margin-bottom: 5%;
    border-radius: 12px;
}

.skills{
    background-color: #008eff;
    padding: 6%;
    margin-bottom: 5%;
    border-radius: 12px;
}

.education{
    background-color: #008eff;
    padding: 6%;
    border-radius: 12px;
}

@media only screen and (min-width: 1024px){
    .about {
        display: flex;
        justify-content: center;
    }   

    hr{
        display: none;
    }
    p#description {
        width: 22%;
        /* height: 8em; */
    }
    p#hidden-info {
        margin-top: 0%;
        width: 23%;
        margin-left: 0%;
        margin-right: 2%;
    }
    .references-h3{
        display: none;
    }
    .title-refer{
        display: flex;

    }
    .references-engi {
        padding: 5%;
    }
    .references{
        display: flex;
        flex-direction: inherit;
    }
    .title-refer {
        display: flex;
        padding: 2%;
        justify-content: center;
        color: #008eff;
    }
    .main-direccion {
        display: flex;
        flex-direction: unset;
        justify-content: space-evenly;
    }
    .education {
        margin-bottom: 5%;
    }
    .container-grey {
        margin-bottom: 2%;
    }
}
    
